.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #e2e8f0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-text {
  color: #11c4a3;
}

@media (min-width:320px) and (max-width:480px){
  .mobile-navbar-menu{
    display: flex;
  }
}