.f-18 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Outfit";
  line-height: normal;
}

.f-28 {
  font-size: 26px;
  font-weight: 300;
  font-family: "Outfit";
  line-height: normal;
}

.f-32 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Outfit";
  line-height: normal;
}

.f-36 {
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Outfit";
  line-height: normal;
}

.f-64 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Outfit";
  line-height: normal;
}

.green-text {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Outfit";
  line-height: normal;
  color: #11c4a3;
}

@media (min-width: 320px) and (max-width: 480px) {
  .f-18 {
    text-align: center;
  }

  .f-32 {
    text-align: center;
  }

  .f-36 {
    text-align: center;
  }

  .f-64 {
    text-align: center;
  }
}
